name = "rooted"
compatibility_date = "2024-12-31"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[[d1_databases]]
binding = "DB"
database_name = "rooted-db"
database_id = "07dd8fe0-3859-4a90-b452-577203b4e5c1"
